body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header nav {
  background-color: #1e40af;
  display: flex;
  justify-content: right;
}

header nav a {
  color: white;
  font-size: 0.7rem;
  padding: 0.5rem;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

header div h1 {
  color: #1e40af;
}

header div a {
  padding-right: 2rem;
  color: #1e40af;
}

header img {
  width: 100%;
  height: auto;
}

.top-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10rem;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tile {
  background-color: #1e40af;
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
}

.tile img {
  width: 100%;
  height: auto;
}

.tile > a {
  color: #fff;
  display: block;
  padding: 0.5rem;
}

main img {
  width: 50%;
  height: auto;
}

.content {
  display: flex;
}

h2 {
  text-align: center;
}

.description {
  padding: 1rem;
}

a {
  color: #1e40af;
}

footer h2 {
  background-color: #f3f4f6;
}

.top {
  background-color: #f3f4f6;
  margin-top: 2rem;
}

.top-content {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 1rem 10rem;
}

.box {
  background-color: #fff;
  padding: 2rem 4rem;
}

.bottom {
  background-color: #cffafe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.footer {
  max-width: 1920px;
  padding: 0rem;
}



footer a {
  padding: 0.2rem;
}

a:hover {
  color: green;
}

button:hover {
  background-color: #cffafe;
  color: #1e40af;
}

div a:hover {
  color: green;
}

nav a:hover {
  background-color: green;
  color: #fff;
}

section a:hover {
  color: green;
}



@media (max-width: 1300px) {
  .container {
    max-width: 1300px;
    padding: 0 10rem;
  }

  main img {
    width: 40%;
    height: 30%;
  }

  header nav a {
    color: white;
    font-size: 1rem;
    padding: 1.5rem;
  }

  .footer {
    max-width: 1300;
    padding: 0rem;
  }

  .top-content {
    padding-bottom: 1rem;
  }

  .top,
  .bottom {
    max-width: 1300px;
    padding: 0 10rem;
  }

}

@media (max-width: 768px) {
  .tile {
    flex: 1 1 calc(50% - 1rem);
    
    /* Here I am trying to reverse the order of the link and image so that link is on top but not working as I hope */
    flex-direction: row-reverse;
  }

  .top-banner {
    display: block;
    text-align: center;
  }

  .container {
    max-width: 800px;
    padding: 1rem;
  }

  .content {
    display: block;
  }

  main img {
    width: 100%;
    height: auto;
  }

  .box {
    padding: 1rem 2rem;
    margin: 1rem;
    width: calc(100% - 1rem);
  }

  .top {
    justify-content: center;
    padding: 1rem 0 0 0;
  }

  .footer {
    max-width: 800px;
    padding: 0rem;
  }

  .bottom {
    display: block;
    padding: 1rem;
  }
}
