body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header nav {
  background-color: #1e40af;
  display: flex;
  justify-content: right;
}

header nav a {
  color: white;
  font-size: 0.7rem;
  padding: 0.5rem;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

header div h1 {
  color: #1e40af;
}

header div a {
  padding-right: 2rem;
  color: #1e40af;
}

.top-content {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

header img {
  width: 100%;
  height: auto;
}

.top-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10rem;
}

main img {
  width: 50%;
  height: auto;
}

.content {
  margin-top: 2.5rem;
  display: flex;
  justify-content: flex-end;
}

h2 {
  text-align: center;
}

.description {
  padding: 1rem;
}

a {
  color: #1e40af;
}

.top-content {
  background-color: #cffafe;
}

section a {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
}

button {
  background-color: #1e40af;
  color: #fff;
  padding: 0.5rem;
}

.energy-stats {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  text-align: center;
}
.by-the-numbers {
  background-color: #f1f5f9;
  border: 1px solid #cbd5e1;
  padding: 1rem;
  text-align: center;
}

footer h2 {
  background-color: #f3f4f6;
}

footer {
  background-color: #cffafe;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

footer a {
  padding: 0.2rem;
}

footer a:hover {
  color: green;
}

button:hover {
  background-color: #cffafe;
  color: #1e40af;
}

section a:hover {
  background-color: #1e40af;
  color: #fff;
}

div a:hover {
  color: green;
}

nav a:hover {
  background-color: green;
  color: #fff;
}


@media (max-width: 1300px) {
  .container {
    max-width: 1300px;
    padding: 0 10rem;
  }

  header nav a {
    font-size: 1rem;
    padding: 1.5rem;
  }

  section a {
    padding: 1rem;
    width: calc(100% - 1rem)/2;
  }
}

@media (max-width: 768px) {
  
  section a {
    padding: 1rem;
    width: calc(100% - 1rem)/3;
  }

  .top-banner {
    display: block;
    text-align: center;
  }

  .container {
    max-width: 800px;
    padding: 1rem;
  }

  .by-the-numbers {
    margin: 1rem;
  }

  .content {
    display: block;
    margin: 1rem;
    background-color: #fff;
  }

  footer {
    display: block;
    padding: 1rem;
  }

}







/* Just for the pie chart */

.pie {
  --p: 20;
  --b: 22px;
  --c: darkred;
  --w: 150px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
      var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
}
.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - var(--w) / 2));
}

/* Just for the bar chart */

.chart div {
  font: 12px sans-serif;
  background-color: #750ce8;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
